---
import ParallaxHero from '../components/LA-parallax-comp.astro';
import Header from '../components/header/index.astro';
import '../style/parllaxStyle.css';
import '../style/global.css'; 
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Los Angeles</title>
    </head>
    <Header />
    <body>
        <ParallaxHero />
    </body>
</html>