---
import "../../style/global.css"
---

<nav
    class = "hidden sm:block nav-component ml-auto my-auto mr-[10px] sm:[&>a]:mx-[10px]"
>
    <a href="/" class="nav-links">Home</a>
    <a href="/about" class="nav-links">About</a>
    <a href="/la-parallax" class = "nav-links">Los Angeles</a>
</nav>